<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
</head>
<body>
    <h1>All content</h1>
    <ul>
        <% contentData.forEach(function(item) { %>
            <li>
                <%= item.title %> by
                <%
                const authors = item.authorIds
                    .map(authorId => userData.find(u => u.id === authorId))
                    .filter(user => user !== undefined);
                %>
                <% authors.forEach((user, index) => { %>
                    <a href="/users/<%= user.id %>"><%= user.name %></a><%= index < authors.length - 1 ? ', ' : '' %>
                <% }); %>
                <% if (authors.length === 0) { %>Unknown<% } %>
            </li>
        <% }); %>
    </ul>
    
</body>
</html>